.card{
    margin: 8% auto;
    margin-top: 40px;
    margin-bottom: 3%;
    padding:10px ;
    box-shadow: 0 2px 4px 0;
    width: 40%;
    height: 100%;
    overflow: auto;
}

.rounded-circle{
    width: 100px;
    margin-left: 40%;
    margin-bottom: 100px;
}

.card-index{
    width: 60%;
}

.header{
    padding: 2px;
    margin: 0;
    background-color: darkslategray;
    box-shadow: 0 1px 2px 0 black;
}

h2{
    color: white;
    text-align: center;
    margin-bottom: 10px;
}


.h1reg{
    margin-top: 4px;
}

select{
    width: 100%;
}

body{
padding-bottom:13.3%;
height: 100%;
background: rgb(100,192,236);
background-size: cover;
}

.table{
    text-align: center;
    margin: auto;
}

label{
    font-size: 14px;
    margin: 0;
}

td{
    width: 50%;
    text-align: left;
}

input,a{
    width: 100%
}

.reg{
    width: 45%;
    margin: 2%;
}

.btn-danger{
    margin: 9px;
    position: absolute;
    width: 10%;
}

.tableName{
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
    width: 100%;
    background-color: background;
    font-size: 20px;
}
