<div th:fragment="basicTable">
    <table th:object="${user}" class="table ">
                  <tr>
                    <td><h3>Profile</h3></td>
                    <td><a class="btn btn-primary" data-toggle="modal" data-target="#updateBasic">Update</a></td>
                </tr>
                <tr>
                    <td>id</td>
                    <td th:text="${user.id}"></td>
                </tr>
                <tr>
                    <td>email</td>
                    <td th:text="${user.email}"></td>
                </tr>
                <tr>
                    <td>name</td>
                    <td th:text="${user.name}"></td>
                </tr>
                <tr>
                    <td>gender</td>
                    <td th:text="${user.gender}"></td>
                </tr>
                <tr>
                    <td>birth date</td>
                    <td th:text="${user.birthDate}"></td>
                </tr>
            </table>
</div>

<div th:fragment="basicUpdate">
       <div class="modal fade" id="updateBasic" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
    <form th:object="${user}" th:action="@{save/basic}" method="POST">
    <table class="table">
                <tr>
                    <td><input type="hidden" th:field="*{id}" readonly=""></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" th:field="*{email}"></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><input type="text" th:field="*{name}"></td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td><select name="gender" id="gender" th:field="*{gender}">
  				 <option value="Laki-laki">Laki-laki</option>
 				 <option value="Perempuan">Perempuan</option> 
                         </select></td>
                </tr>
                <tr>
                    <td>BirthDate</td>
                    <td><input type="text" th:field="*{birthDate}"></td>
                </tr>
                <tr>
                    <td colspan="2"><input class="btn btn-primary" type="submit" value="Save" name="action"></td>
                </tr>
            </table>
</form>
                </div>
            </div>
       </div>
</div>
